In [11]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv("features_data.csv")
new = df[['likes','dislikes','comment_count']]
new.dtypes

likes            float64
dislikes         float64
comment_count    float64
dtype: object

In [23]:
from sklearn.preprocessing import StandardScaler
# Standardize the features and target
# Implement me
import numpy as np
ss = StandardScaler()
a = ss.fit(new)

In [30]:
a

StandardScaler(copy=True, with_mean=True, with_std=True)

In [37]:
mean = np.mean(new)
sd = np.std(new)
b = mean - 2 * sd
final_list = [x for x in new if (x > b)]
final_list = [x for x in new if (x < b)]
print(final_list)

TypeError: Invalid comparison between dtype=float64 and str

In [38]:



from scipy import stats
new[(np.abs(stats.zscore(new)) < 3).all(axis=1)]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in less

Empty DataFrame
Columns: [likes, dislikes, comment_count]
Index: []

In [46]:
q = new["likes"].quantile(0.99)
new[new["likes"] > q]

          likes  dislikes  comment_count
21     810895.0   16139.0        59473.0
155   1788960.0   24548.0        93428.0
262    911883.0   53873.0       127481.0
430   1035003.0    4901.0        86912.0
545   2376636.0  117196.0       134224.0
...         ...       ...            ...
6270  4934188.0  335462.0       509799.0
6384  1323550.0   48192.0        71176.0
6385  2032463.0  101678.0       320194.0
6412   911150.0   30130.0        78492.0
6416  1817699.0   11949.0       156793.0

[64 rows x 3 columns]

In [42]:
q = new["dislikes"].quantile(0.99)
new[new["dislikes"] > q]

,Unnamed: 0,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,...,sec,count_word,count_word_tags,count_unique_word,count_unique_word_tags,count_tags,neutral,y_cat_1,y_cat_2,y_cat_3
262,995,n1WpP7iowLc,2017-11-18,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10 17:00:03,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",26448434,911883.0,...,3.0,8.0,1.0,8.0,1.0,6.0,25482678.0,high,high,high
380,1568,ItYOdWRo0JY,2017-11-21,Selling My iPhone X To a Machine at Walmart,TechSmartt,28,2017-11-14 00:45:15,"iphone x|""iphone 10""|""iphone""|""walmart""|""techs...",3798127,44277.0,...,15.0,9.0,4.0,9.0,4.0,6.0,3706381.0,high,high,high
545,2587,TyHvyGVs42U,2017-11-26,"Luis Fonsi, Demi Lovato - Échame La Culpa",LuisFonsiVEVO,10,2017-11-17 05:00:01,"Luis|""Fonsi""|""Demi""|""Lovato""|""Échame""|""La""|""Cu...",102012605,2376636.0,...,1.0,8.0,1.0,8.0,1.0,11.0,99518773.0,high,high,high
866,3349,kTlv5_Bs8aw,2017-11-30,BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...,ibighit,10,2017-11-24 09:00:02,"BIGHIT|""빅히트""|""방탄소년단""|""BTS""|""BANGTAN""|""방탄""",33810576,2674694.0,...,2.0,9.0,1.0,9.0,1.0,6.0,31089819.0,high,high,high
1204,5575,_9YMpuLDnwo,2017-12-11,42 HOLY GRAIL HACKS THAT WILL SAVE YOU A FORTUNE,5-Minute Crafts,26,2017-12-03 08:30:00,"5-Minute Crafts|""DIY""|""Do it yourself""|""crafts...",54155921,378111.0,...,0.0,10.0,26.0,10.0,25.0,45.0,53711178.0,high,high,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6270,38146,VYOjWnS4cMY,2018-05-31,Childish Gambino - This Is America (Official V...,ChildishGambinoVEVO,10,2018-05-06 04:00:07,"Childish Gambino|""Rap""|""This Is America""|""mcDJ...",217750076,4934188.0,...,7.0,8.0,6.0,8.0,6.0,4.0,212480426.0,high,high,high
6361,40800,V15BYnSr0P8,2018-06-14,Live It Up (Official Video) - Nicky Jam feat. ...,NickyJamTV,10,2018-06-08 11:58:38,"Nicky Jam|""NickyJamPR""|""latin""|""will smith""|""E...",20409647,568680.0,...,38.0,19.0,35.0,19.0,30.0,33.0,19796113.0,high,high,high
6370,40809,GnGPAYvve1A,2018-06-14,#ProudToCreate: Pride 2018,YouTube Spotlight,24,2018-06-07 19:08:51,"#Pride|""#ProudToCreate""|""#ProudToBe""|""#ProudTo...",1329391,48386.0,...,51.0,3.0,13.0,3.0,13.0,35.0,1154074.0,high,high,high
6384,40823,VY1eFxgRR-k,2018-06-14,Selena Gomez - Back To You,SelenaGomezVEVO,10,2018-06-05 14:00:07,"Selena|""Gomez""|""Back""|""To""|""You""|""PS""|""Pop""",35181079,1323550.0,...,7.0,6.0,1.0,6.0,1.0,7.0,33809337.0,high,high,high
6385,40824,J2HytHu5VBI,2018-06-14,we broke up,David Dobrik,22,2018-06-05 04:54:35,"lizzza|""lizza""|""liza""|""koshy""|""david""|""dobrik""...",33627806,2032463.0,...,35.0,3.0,1.0,3.0,1.0,29.0,31493665.0,high,high,high

In [47]:
q = new["comment_count"].quantile(0.99)
new[new["comment_count"] > q]

          likes  dislikes  comment_count
155   1788960.0   24548.0        93428.0
262    911883.0   53873.0       127481.0
430   1035003.0    4901.0        86912.0
545   2376636.0  117196.0       134224.0
576    368569.0    8898.0       103635.0
...         ...       ...            ...
6360   387156.0    8882.0       108849.0
6370    48386.0  126931.0        90365.0
6385  2032463.0  101678.0       320194.0
6412   911150.0   30130.0        78492.0
6416  1817699.0   11949.0       156793.0

[64 rows x 3 columns]

In [54]:
new[new.apply(lambda x: np.abs(x - x.mean()) / x.std() > 3).all(axis=1)]

          likes   dislikes  comment_count
545   2376636.0   117196.0       134224.0
1396  3093544.0  1643059.0       810698.0
1560  1013411.0   140271.0       175929.0
2319  1402578.0  1674420.0      1361580.0
2777  1844959.0   102849.0       148768.0
3358  1970266.0   487820.0       647524.0
3668  1216340.0   291900.0       436698.0
4901  1928392.0   113990.0       162990.0
5471  1324609.0   118647.0       238744.0
6196  5595203.0   205565.0      1225326.0
6270  4934188.0   335462.0       509799.0
6385  2032463.0   101678.0       320194.0

In [52]:
new[((new.likes - new.likes.mean()) / new.likes.std()).abs() > 3]

          likes  dislikes  comment_count
21     810895.0   16139.0        59473.0
155   1788960.0   24548.0        93428.0
262    911883.0   53873.0       127481.0
430   1035003.0    4901.0        86912.0
545   2376636.0  117196.0       134224.0
...         ...       ...            ...
6384  1323550.0   48192.0        71176.0
6385  2032463.0  101678.0       320194.0
6412   911150.0   30130.0        78492.0
6416  1817699.0   11949.0       156793.0
6432   778513.0   30866.0        76944.0

[78 rows x 3 columns]

In [55]:
new[((new.dislikes - new.dislikes.mean()) / new.dislikes.std()).abs() > 3]

          likes   dislikes  comment_count
545   2376636.0   117196.0       134224.0
1396  3093544.0  1643059.0       810698.0
1538     5930.0   132439.0        23543.0
1560  1013411.0   140271.0       175929.0
1729     9572.0   228426.0        29634.0
1974   821971.0   165109.0        81388.0
2319  1402578.0  1674420.0      1361580.0
2777  1844959.0   102849.0       148768.0
3292   610574.0   116170.0        79735.0
3358  1970266.0   487820.0       647524.0
3668  1216340.0   291900.0       436698.0
4455    59281.0   176903.0        65181.0
4901  1928392.0   113990.0       162990.0
5471  1324609.0   118647.0       238744.0
6196  5595203.0   205565.0      1225326.0
6204   346030.0   206198.0       140470.0
6270  4934188.0   335462.0       509799.0
6370    48386.0   126931.0        90365.0
6385  2032463.0   101678.0       320194.0

In [61]:
new[((new.comment_count - new.comment_count.mean()) / new.comment_count.std()).abs() > 3]

<bound method DataFrame.count of           likes   dislikes  comment_count
262    911883.0    53873.0       127481.0
545   2376636.0   117196.0       134224.0
717   1735895.0    21969.0       241237.0
866   2674694.0    46063.0       539309.0
1396  3093544.0  1643059.0       810698.0
1499   630523.0     9657.0       210605.0
1560  1013411.0   140271.0       175929.0
1567   956937.0    91898.0       157207.0
1827   879532.0    17542.0       157166.0
2161   326557.0     2372.0       137991.0
2319  1402578.0  1674420.0      1361580.0
2436  1919583.0    73239.0       133601.0
2777  1844959.0   102849.0       148768.0
3171  1021328.0     2716.0       117897.0
3242   859235.0    21765.0       107746.0
3358  1970266.0   487820.0       647524.0
3668  1216340.0   291900.0       436698.0
3913   711348.0     6636.0       193355.0
4422   145207.0     1721.0       200021.0
4527  2672431.0    29088.0       477233.0
4695   264835.0     5210.0       136746.0
4735  1784129.0    11162.0       180133.0
4901  1928392.0   113990.0       162990.0
4911  1036693.0    10869.0       213764.0
4941  1565579.0    32705.0       194290.0
5315   800784.0    10683.0       129289.0
5371   402569.0     9373.0       383762.0
5380  2162749.0    18342.0       227648.0
5471  1324609.0   118647.0       238744.0
5573  1243476.0    44414.0       134673.0
5642  2562936.0    96851.0       211699.0
5834  2700800.0    29341.0       371864.0
5859  1431724.0     6335.0       125168.0
6196  5595203.0   205565.0      1225326.0
6204   346030.0   206198.0       140470.0
6207   564046.0    33508.0       180469.0
6270  4934188.0   335462.0       509799.0
6360   387156.0     8882.0       108849.0
6385  2032463.0   101678.0       320194.0
6416  1817699.0    11949.0       156793.0>

<bound method DataFrame.count of           likes   dislikes  comment_count
262    911883.0    53873.0       127481.0
545   2376636.0   117196.0       134224.0
717   1735895.0    21969.0       241237.0
866   2674694.0    46063.0       539309.0
1396  3093544.0  1643059.0       810698.0
1499   630523.0     9657.0       210605.0
1560  1013411.0   140271.0       175929.0
1567   956937.0    91898.0       157207.0
1827   879532.0    17542.0       157166.0
2161   326557.0     2372.0       137991.0
2319  1402578.0  1674420.0      1361580.0
2436  1919583.0    73239.0       133601.0
2777  1844959.0   102849.0       148768.0
3171  1021328.0     2716.0       117897.0
3242   859235.0    21765.0       107746.0
3358  1970266.0   487820.0       647524.0
3668  1216340.0   291900.0       436698.0
3913   711348.0     6636.0       193355.0
4422   145207.0     1721.0       200021.0
4527  2672431.0    29088.0       477233.0
4695   264835.0     5210.0       136746.0
4735  1784129.0    11162.0       180133.0
4901  1928392.0   113990.0       162990.0
4911  1036693.0    10869.0       213764.0
4941  1565579.0    32705.0       194290.0
5315   800784.0    10683.0       129289.0
5371   402569.0     9373.0       383762.0
5380  2162749.0    18342.0       227648.0
5471  1324609.0   118647.0       238744.0
5573  1243476.0    44414.0       134673.0
5642  2562936.0    96851.0       211699.0
5834  2700800.0    29341.0       371864.0
5859  1431724.0     6335.0       125168.0
6196  5595203.0   205565.0      1225326.0
6204   346030.0   206198.0       140470.0
6207   564046.0    33508.0       180469.0
6270  4934188.0   335462.0       509799.0
6360   387156.0     8882.0       108849.0
6385  2032463.0   101678.0       320194.0
6416  1817699.0    11949.0       156793.0>